 
  <form>
    <label for="fname">nome:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">email:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="fname">idade:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="fname">estado:</label><br>
    <input type="text" id="fname" name="fname"><br>
  </form>
